<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
    <title>Website offline</title>
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="/media/main.css" />
</head>
<body>
    <h1>MyBind</h1>
    <h2>Website offline</h2>
    <p>Don't panic! The DNS infrastructure is still online, we've just taken the site down while we do some maintainance.</p>
    <p>The website should be back online soon, so just stay on this page, and hit refresh on your browser in a short while.</a>
    <p>Cheers!</p>
</body>
